
    <html>
    <head>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            background: white; /* Set background to transparent black (adjust the alpha value as needed) */
            color: black; /* Set text color to white */
        }
        th, tbody {
            text-align: center;
        }
        table {
            border-collapse: collapse;
            width: 80%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
    </head>
    <body>
    <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Budget</th>
      <th>IRR</th>
      <th>Phone No</th>
      <th>NPV</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>3835280</td>
      <td>75</td>
      <td>889-517-03</td>
      <td>6899495</td>
      <td>Brenda Flores</td>
    </tr>
    <tr>
      <td>2146949</td>
      <td>77</td>
      <td>+1-519-307</td>
      <td>4289968</td>
      <td>Gerald Maldonado</td>
    </tr>
    <tr>
      <td>6517382</td>
      <td>95</td>
      <td>538.986.23</td>
      <td>4777443</td>
      <td>Donna Lee MD</td>
    </tr>
    <tr>
      <td>5793645</td>
      <td>91</td>
      <td>594-213-09</td>
      <td>2910388</td>
      <td>Terry Klein</td>
    </tr>
    <tr>
      <td>4437440</td>
      <td>76</td>
      <td>(497)759-1</td>
      <td>5151552</td>
      <td>Robert Thomas</td>
    </tr>
    <tr>
      <td>2782664</td>
      <td>71</td>
      <td>001-639-92</td>
      <td>3451487</td>
      <td>Andrew Murphy</td>
    </tr>
    <tr>
      <td>4310671</td>
      <td>65</td>
      <td>001-663-55</td>
      <td>3674891</td>
      <td>Michelle Baker</td>
    </tr>
    <tr>
      <td>3040947</td>
      <td>71</td>
      <td>966-695-55</td>
      <td>5692433</td>
      <td>Logan Warren</td>
    </tr>
    <tr>
      <td>2270160</td>
      <td>84</td>
      <td>+1-623-978</td>
      <td>5562366</td>
      <td>Benjamin Santana</td>
    </tr>
    <tr>
      <td>2522808</td>
      <td>84</td>
      <td>+1-979-526</td>
      <td>3029787</td>
      <td>Dustin Bell</td>
    </tr>
    <tr>
      <td>5906243</td>
      <td>75</td>
      <td>805-905-22</td>
      <td>5083774</td>
      <td>Angela Parker</td>
    </tr>
    <tr>
      <td>4123562</td>
      <td>75</td>
      <td>001-365-45</td>
      <td>4224170</td>
      <td>Mr. Christopher Palmer</td>
    </tr>
    <tr>
      <td>3886353</td>
      <td>95</td>
      <td>001-621-94</td>
      <td>3542769</td>
      <td>Kayla Snow</td>
    </tr>
    <tr>
      <td>3481434</td>
      <td>89</td>
      <td>359.746.64</td>
      <td>6735368</td>
      <td>Melissa Hancock</td>
    </tr>
    <tr>
      <td>6655759</td>
      <td>82</td>
      <td>(995)242-9</td>
      <td>4985759</td>
      <td>Franklin Meyer</td>
    </tr>
    <tr>
      <td>5685445</td>
      <td>93</td>
      <td>437.392.04</td>
      <td>6548419</td>
      <td>Tracy Conrad</td>
    </tr>
    <tr>
      <td>5366604</td>
      <td>81</td>
      <td>9752663758</td>
      <td>6796111</td>
      <td>Suzanne Johnson</td>
    </tr>
    <tr>
      <td>5025851</td>
      <td>93</td>
      <td>+1-789-828</td>
      <td>6314544</td>
      <td>Megan Herman</td>
    </tr>
    <tr>
      <td>3703050</td>
      <td>67</td>
      <td>420.383.49</td>
      <td>2769452</td>
      <td>Daniel Padilla</td>
    </tr>
    <tr>
      <td>5571770</td>
      <td>65</td>
      <td>573.554.66</td>
      <td>5432386</td>
      <td>Michael Jacobs</td>
    </tr>
    <tr>
      <td>3204340</td>
      <td>85</td>
      <td>4032604681</td>
      <td>4440970</td>
      <td>Jose Mercado</td>
    </tr>
    <tr>
      <td>5215059</td>
      <td>88</td>
      <td>864-306-24</td>
      <td>3203535</td>
      <td>Amy Jackson</td>
    </tr>
    <tr>
      <td>6196737</td>
      <td>88</td>
      <td>891-511-92</td>
      <td>3407989</td>
      <td>Vanessa Jackson</td>
    </tr>
    <tr>
      <td>4993178</td>
      <td>73</td>
      <td>+1-581-997</td>
      <td>6252368</td>
      <td>Marie Bates</td>
    </tr>
    <tr>
      <td>6146668</td>
      <td>82</td>
      <td>429-949-77</td>
      <td>4874375</td>
      <td>Elizabeth Barker</td>
    </tr>
    <tr>
      <td>5173480</td>
      <td>93</td>
      <td>2159198841</td>
      <td>3739167</td>
      <td>Betty Bruce</td>
    </tr>
    <tr>
      <td>6309151</td>
      <td>75</td>
      <td>(223)730-0</td>
      <td>2337622</td>
      <td>Jeremy Salazar</td>
    </tr>
    <tr>
      <td>3800642</td>
      <td>79</td>
      <td>001-640-74</td>
      <td>2097660</td>
      <td>Matthew Ruiz</td>
    </tr>
    <tr>
      <td>6389143</td>
      <td>84</td>
      <td>(242)822-2</td>
      <td>5610377</td>
      <td>Scott Marshall</td>
    </tr>
    <tr>
      <td>5302335</td>
      <td>73</td>
      <td>258-385-12</td>
      <td>5723567</td>
      <td>Samuel Stuart</td>
    </tr>
    <tr>
      <td>5852648</td>
      <td>92</td>
      <td>454-517-33</td>
      <td>4477820</td>
      <td>Jennifer Parker</td>
    </tr>
    <tr>
      <td>4949581</td>
      <td>82</td>
      <td>+1-535-337</td>
      <td>5952927</td>
      <td>Matthew Montgomery</td>
    </tr>
    <tr>
      <td>3826065</td>
      <td>75</td>
      <td>648-387-55</td>
      <td>4361719</td>
      <td>Robert Smith</td>
    </tr>
    <tr>
      <td>5129274</td>
      <td>74</td>
      <td>9332240590</td>
      <td>3729235</td>
      <td>Dawn Rose</td>
    </tr>
    <tr>
      <td>3472555</td>
      <td>88</td>
      <td>852-230-64</td>
      <td>4869410</td>
      <td>Austin Vargas</td>
    </tr>
    <tr>
      <td>4740670</td>
      <td>65</td>
      <td>268-840-02</td>
      <td>6297222</td>
      <td>Adam Lawson</td>
    </tr>
    <tr>
      <td>4675419</td>
      <td>68</td>
      <td>273-648-62</td>
      <td>5786000</td>
      <td>Matthew Stone</td>
    </tr>
    <tr>
      <td>4137187</td>
      <td>67</td>
      <td>001-882-64</td>
      <td>4009635</td>
      <td>Beth Hopkins</td>
    </tr>
    <tr>
      <td>5291373</td>
      <td>69</td>
      <td>824.468.31</td>
      <td>4212074</td>
      <td>Martin Dyer</td>
    </tr>
    <tr>
      <td>4886214</td>
      <td>88</td>
      <td>(971)931-3</td>
      <td>5977608</td>
      <td>Dennis Cox</td>
    </tr>
    <tr>
      <td>5068912</td>
      <td>92</td>
      <td>621.767.98</td>
      <td>3223470</td>
      <td>Maria Fox</td>
    </tr>
    <tr>
      <td>5267472</td>
      <td>83</td>
      <td>658-386-03</td>
      <td>5793592</td>
      <td>Justin Henderson</td>
    </tr>
    <tr>
      <td>3653331</td>
      <td>75</td>
      <td>848.820.82</td>
      <td>5665799</td>
      <td>David Stuart</td>
    </tr>
    <tr>
      <td>6643950</td>
      <td>81</td>
      <td>+1-339-525</td>
      <td>4861679</td>
      <td>Samantha Green</td>
    </tr>
    <tr>
      <td>6637999</td>
      <td>85</td>
      <td>001-543-81</td>
      <td>2842503</td>
      <td>Cheryl Harris</td>
    </tr>
    <tr>
      <td>6822271</td>
      <td>84</td>
      <td>001-251-50</td>
      <td>2039473</td>
      <td>Laura George</td>
    </tr>
    <tr>
      <td>3815884</td>
      <td>71</td>
      <td>+1-970-974</td>
      <td>6182415</td>
      <td>Brian Pineda</td>
    </tr>
    <tr>
      <td>3653949</td>
      <td>95</td>
      <td>265.884.82</td>
      <td>5364965</td>
      <td>Joseph Gibson MD</td>
    </tr>
    <tr>
      <td>3810588</td>
      <td>78</td>
      <td>993.532.52</td>
      <td>2972318</td>
      <td>Brendan Brennan</td>
    </tr>
    <tr>
      <td>3234264</td>
      <td>79</td>
      <td>453.698.08</td>
      <td>6080005</td>
      <td>John Burton</td>
    </tr>
  </tbody>
</table>
    </body>
    </html>
    